/* general links */

a {
  color: black;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
  color: black;
  transform: scale(1.1, 1);
  text-decoration: none;
}

#shop {
  text-decoration: none;
}

/* header */

header {
  text-align: center;
  height: 50px;
  min-width: 1100px;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 600px 100px;
  grid-template-rows: 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(240,240,240);
  border-bottom-color: rgb(180,180,180);
  border-bottom-style: solid;
  border-bottom-width: 0.1px;
}

.icon.logo {
  margin-top: 4.5px;
}

.shop {
  transform: scale(1, 1);
  text-decoration: none;
}

/* main body grids */

main {
  position: relative;
  left: 0%;
  min-width: 1100px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1000px;
  grid-template-rows: 350px 150px 350px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* header text styles */

h2 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 42px;
  transform: scale(1.1, 1);
  text-align: center;
}

h3 {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
  color: black;
  transform: scale(1.1, 1);
}

h4 {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  transform: scale(1.1, 1);
}

/* detailed adjustment of elements in the main grids */

.large-logo {
  margin-top: 50px;
  height: 300px;
  width: auto;
}

.pillow-pic {
  height: 500px;
  width: auto;
  margin-right: 50px;
  margin-bottom: 20px;
}

/* icons section */

.icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.logo {
  justify-self: center;
}

.shopbag {
  justify-self: right;
}

.container {
  width: 100vw;
  height: calc(100vh - 50px);
  min-width: 1100px;
  margin: -10px;
  min-height: 100%;
}

/* Shopping Bag */
#shopping-bag {
  visibility: hidden;
  display: grid;
  position: relative;
  background-color: white;
  z-index: 2;
  height: 320px;
  width: 400px;
  border-radius: 15px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  bottom: 864px;
  left: calc(50% + 100px);
  grid-template-columns: 1fr;
  grid-template-rows: 110px 120px 70px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow:0px 5px 10px rgba(0,0,0,0.2);
}

.purchased-photo {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}

#items-purchased {
  display: grid;
  grid-template-columns: 370px;
  grid-template-rows: 110px;
}

.items-listing {
  visibility: hidden;
  display: grid;
  grid-template-columns: 90px 140px 75px 65px;
  grid-template-rows: 1fr;
  justify-self: start;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.purchased-description {
  margin-left: 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 60px 20px;
  justify-self: start;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}

.purchased-title {
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
  justify-self: start;
  align-self: start;
  text-align: left;
  transform: scale(1.1, 1);
  line-height: 0;
  border-top: 10px;
}

.purchased-detailed {
  font-family: Roboto;
  font-weight: 100;
  font-size: 10px;
  justify-self: start;
  align-self: start;
  text-align: left;
  transform: scale(1.1, 1);
  margin-top: 15px;
  line-height: 1;
}

.purchased-price-tag {
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  justify-self: start;
  text-align: left;
  transform: scale(1.1, 1);
  line-height: 0;
  align-self: end;
  margin-bottom: 20px;
  margin-left: -5px;
}

.delete {
  transform: scale(1.3, 1);
  font-family: Roboto;
  font-weight: 100;
  font-size: 30px;
  color: rgb(180,180,180);
  margin-bottom: 40px;
}

.shopping-bag-amount-toggle {
  height: 63px;
  width: 58px;
  justify-self: center;
  align-self: center;
  border-radius: 15px;
  border-width: 0.75px;
  border-color: rgb(180,180,180);
  border-style: solid;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  margin-bottom: 10px;
}

.shopping-bag-quantity-name {
  padding-left: 4px;
  padding-top: 5px;
  line-height: 0;
  font-family: Roboto;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  transform: scale(1.1, 1);
}

.shopping-bag-quantity-name-drop {
  padding-right: 4px;
  padding-top: 12px;
  line-height: 0;
  font-size: 15px;
  transform: scale(1.5, 1);
  font-family: Roboto;
  font-weight: 300;
  text-align: center;
}

#subtotal {
  visibility: hidden;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 170px 170px;
  grid-template-rows: 22px 22px 22px 55px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.price-breakdown-left {
  font-family: Roboto;
  font-weight: 100;
  font-size: 14px;
  justify-self: start;
}
.price-breakdown-right {
  font-family: Roboto;
  font-weight: 100;
  font-size: 14px;
  justify-self: end;
}

.price-total-left {
  font-family: Roboto;
  font-weight: 400;
  font-size: 28px;
  justify-self: start;
  transform: scale(1.1, 1);
}
.price-total-right {
  font-family: Roboto;
  font-weight: 400;
  font-size: 28px;
  justify-self: end;
  transform: scale(1.1, 1);
}

#select-button-check-out{
  visibility: hidden;
  margin-top:20px;
  justify-self: stretch;
  margin-left: 233px;
  margin-right: 22px;
  margin-bottom: 15px;
  border-width: 0.5px;
  border-color: rgb(180,180,180);
  border-style: solid;
  border-radius: 15px;
  background-image: linear-gradient(rgb(140,140,140), rgb(100,100,100));
  box-shadow:0px 5px 10px rgba(0,0,0,0.11);
}

.select-text-check-out-text {
  font-family: Roboto;
  line-height: 0.3;
  font-size: 18px;
  font-weight: 300;
  transform: scale(1.1, 1);
  color: white;
  justify-items: center;
  justify-self: end;
  padding: 0px 29px 0px 31px;
}

/* number of items in bag */
#item-numbers {
  visibility: hidden;
  position: absolute;
  z-index: 3;
  top: 2px;
  left: calc(50% + 419px);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(100, 100, 100);
  margin: 20px 15px;
}

#item-number-text {
  font-family: Roboto;
  font-weight: 300;
  font-size: 11px;
  color: white;
  text-align: center;
  transform: scale(1.1, 1);
  line-height: 0;
}